body {
    font-family: Arial, sans-serif;
    /*background-color: #DEFFD3;*/
    background-image: url("../../public/fondo_arbol.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    color: #333;
}

form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

input, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fitness-dashboard {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin: 23px 20px 25px;
    gap: 15px;
}

.fitness-demo, .fitness-timer{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fitness-demo {
    column-width: 800px;
    min-height: 340px;
}

.fitness-timer {
    column-width: 800px;
    min-height: 190px;
}

p.fitness-title {
    color: #44634A;
    font-size: 30px;
    margin: 10px 0px 0px;
}

p.fitness-timer-count {
    color: #2CA72C;
    font-size: 80px;
    font-weight: 500;
    margin: 0px 0px 10px;
    line-height: 60px;
}

img.fitness-template {
    margin-top: 20px;
    width: 720px;
    height: 300px;
    border: 1px solid red;
}