.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 2rem;
  background-color: #f1f8e9;
  text-align: center;
}

.main-container h1{
    color: #48874b;
}

.bold-text {
    font-weight:bolder;
    color: #f4b860;
}

.content-box {
  margin-bottom: 8rem;
  background-color: #e6f3d9;
  padding: 2.5rem;
  border-radius: 20px;
  max-width: 900px;
  width: 100%;
}

.get-started-btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 12px 30px;
  background-color: #66bb6a;
  color: white !important;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.get-started-btn:hover {
  background-color: #57a358;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

p {
    font-size: 1.2rem;
}